# Clean Extraction Method

This notebook is just a cleaner version of "extraction_data.ipynb", its objective is to provide a clearer methodology of data generation. Though, it is not certain that it will cover all the materials that "extraction_data.ipynb" covered. Then, take it as a complement for the ease of the lector rather than a subsitute for the developper.

## Sample_2023_with_txt

This how we generated the data set sample_2023_woth_txt

First we generate the file with the sample of interest

In [152]:
import pandas as pd

def import_sample(file, format:str, begin=None, end=None):
    if format == 'excel':
        df = pd.read_excel(file).iloc[begin:end]
        print(df.info())
        return df
    elif format == 'csv':
        df = pd.read_csv(file).iloc[begin:end]
        print(df.info())
        return df
    else:
        print('Please provide a valid format (excel or csv)')

df_samp = import_sample(r'C:\Users\garsonj\Desktop\spacy_finetuning\spacy_files\data\training_xlsx\sample2023.xlsx', 'excel', 0, 124)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 18 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   UrlLegifrance                 124 non-null    object
 1   Entreprise                    124 non-null    object
 2   Siret                         124 non-null    int64
 3   Secteur                       124 non-null    object
 4   Nature                        124 non-null    object
 5   Titre                         124 non-null    object
 6   Naf732                        124 non-null    object
 7   Date Texte                    124 non-null    datetime64[ns]
 8   Date Maj                      124 non-null    datetime64[ns]
 9   Date Dépot                    124 non-null    datetime64[ns]
 10  Date diffusion                124 non-null    datetime64[ns]
 11  Date fin                      124 non-null    object
 12  LesSyndicats                  124 non-null    object
 13  LesThemes                     124 non-null    object
 14  type                          124 non-null    object
 15  Tranche Effectif(Base siren)  124 non-null    object
 16  Fichier                       124 non-null    object
 17  ID                            124 non-null    object
dtypes: datetime64[ns](4), int64(1), object(13)
memory usage: 17.6+ KB
None

In [153]:
df_samp.columns
df_samp_final = df_samp[[
    'UrlLegifrance', 
    'Entreprise', 
    'Siret', 
    'Secteur', 
    # 'Nature', 
    # 'Titre',
    'Naf732', 
    'Date Texte', 
    # 'Date Maj', 
    # 'Date Dépot', 
    # 'Date diffusion',
    # 'Date fin', 
    # 'LesSyndicats', 
    # 'LesThemes', 
    # 'type',
    'Tranche Effectif(Base siren)', 
    'Fichier', 
    # 'ID'
    ]].copy()
df_samp_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   UrlLegifrance                 124 non-null    object
 1   Entreprise                    124 non-null    object
 2   Siret                         124 non-null    int64
 3   Secteur                       124 non-null    object
 4   Naf732                        124 non-null    object
 5   Date Texte                    124 non-null    datetime64[ns]
 6   Tranche Effectif(Base siren)  124 non-null    object
 7   Fichier                       124 non-null    object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 7.9+ KB

In [154]:
# Add a column for the application year
df_samp_final["Année d'application NAO"] = 2023
df_samp_final["code"] = df_samp_final["Fichier"].str.slice(101,113)
df_samp_final.head(10)

# Reorder the columns
df_samp_final.columns
df_samp_final = df_samp_final[[
    # 'UrlLegifrance',
    'code',
    'Entreprise', 
    'Siret', 
    'Secteur', 
    'Naf732', 
    'Date Texte',
    "Année d'application NAO",
    'Tranche Effectif(Base siren)', 
    ]].copy()

# Rename the columns
df_samp_final.columns = ["code","Nom de l'entreprise", "Siret", "Sous secteur Secafi", "Code NAF", "Date de l'accord du texte", "Année d'application NAO", "Tranche Effectif (Base siren)"]

df_samp_final.head(10)
df_samp_final.to_excel(r"C:\Users\garsonj\Desktop\spacy_finetuning\spacy_files\data\training_xlsx\sample_2023_no_txt.xlsx", index=False)

Second we create the file with the corresponding code txt

In [122]:
import pandas as pd
import numpy as np

# Read in the data
df_sample = pd.read_excel(r"C:\Users\garsonj\Desktop\spacy_finetuning\spacy_files\data\training_xlsx\sample2023.xlsx") # this sample has been directly extracted from Qlik Sense plateform

# We select the columns we want to keep
df_sample = df_sample[[
    'UrlLegifrance', 
    # 'Entreprise', 
    # 'Siret', 
    # 'Secteur', 
    # 'Nature', 
    # 'Titre',
    # 'Naf732', 
    # 'Date Texte', 
    # 'Date Maj', 
    # 'Date Dépot', 
    # 'Date diffusion',
    # 'Date fin', 
    # 'LesSyndicats', 
    # 'LesThemes', 
    # 'type',
    # 'Tranche Effectif(Base siren)', 
    'Fichier', 
    'ID'
    ]].copy()

# We create a new column with the ID shortened and the column reordered
df_sample["code"] = df_sample["Fichier"].str.slice(101,113)
df_sample = df_sample[['UrlLegifrance', 'code','Fichier']].copy()
df_sample.head()

,UrlLegifrance,code,Fichier
0,https://www.legifrance.gouv.fr/acco/id/ACCOTEX...,T04123002443,\\proapp20\PROAPP20_SQL_FILES\LAC_DONNEES\LEGI...
1,https://www.legifrance.gouv.fr/acco/id/ACCOTEX...,T09323011189,\\proapp20\PROAPP20_SQL_FILES\LAC_DONNEES\LEGI...
2,https://www.legifrance.gouv.fr/acco/id/ACCOTEX...,T00123005502,\\proapp20\PROAPP20_SQL_FILES\LAC_DONNEES\LEGI...
3,https://www.legifrance.gouv.fr/acco/id/ACCOTEX...,T03523012879,\\proapp20\PROAPP20_SQL_FILES\LAC_DONNEES\LEGI...
4,https://www.legifrance.gouv.fr/acco/id/ACCOTEX...,T09023001693,\\proapp20\PROAPP20_SQL_FILES\LAC_DONNEES\LEGI...

Our objective now is to extract the texts stored on our local data center.

In [123]:
# We create a list of the unique ID_b and write in a doc file

def write_column_to_txt(df, column, path):
    """
    Write the content of a column of a dataframe in a txt file

    Args:
        df (dataframe): the dataframe
        column (str): the column to write
        path (str): the path of the txt file
    """
    with open(path, 'w') as f:
        for item in df[column].unique():
            f.write("%s\n" % item)

write_column_to_txt(df_sample, "Fichier", r"C:\Users\garsonj\Desktop\spacy_finetuning\spacy_files\docx\2022_2023\sample_2023\Liste.txt")

We download each of the txt files, we have to do this manually, since the program doesn't provide me access

Now we convert each of this text to the txt format, for that we can use the two following scripts : convert_to_txt_V2.py and clean_txt.py

In [135]:
import subprocess
import os

# Specify the path to the folder containing the Python scripts
script_folder = r"C:\Users\garsonj\Desktop\spacy_finetuning\spacy_files\script"

# Define the names of the Python scripts you want to run
script1_name = "convert_to_txt_V2.py"
script2_name = "clean_txt.py"

# Build the full paths to the script files
script1_path = os.path.join(script_folder, script1_name)
script2_path = os.path.join(script_folder, script2_name)

# Run the first script
subprocess.run(["python", script1_path])

# Run the second script
subprocess.run(["python", script2_path])

CompletedProcess(args=['python', 'C:\\Users\\garsonj\\Desktop\\spacy_finetuning\\spacy_files\\script\\clean_txt.py'], returncode=0)

Now we can do a data set out of the document and match their ID to the one of our sample

In [3]:
import glob
import pandas as pd
import os
from tqdm.notebook import tqdm

directory = glob.glob(r"C:\Users\garsonj\Desktop\spacy_finetuning\spacy_files\data\docx\2017_2021\Subset_1\text\*.txt")

# iniate an empty dataframe

final_df = pd.DataFrame()

for file in tqdm(directory):
    # collect the file name and store it in a list
    file_name = os.path.basename(file)[:-19]
    
    # collect the file content and store it in a list
    collected_text = []
    with open(file, 'r', encoding='utf-8') as f:
        text = f.read()
        collected_text.append(text)

    df = pd.DataFrame(collected_text , columns=['text'])
    df.insert(0, 'code', file_name)
    final_df = pd.concat([final_df, df], ignore_index=True)

final_df.to_excel(r"C:\Users\garsonj\Desktop\spacy_finetuning\spacy_files\data\training_xlsx\sample_2017_2021_sub1.xlsx", index=False)

  0%|          | 0/498 [00:00<?, ?it/s]

## Extraction and matching of text for a sample

We build on what we did for the NAO 2023 to extract and matcht the text with their respective contract

In [127]:
import pandas as pd
import numpy as np

df = pd.read_excel(r"C:\Users\garsonj\Desktop\spacy_finetuning\spacy_files\data\training_xlsx\sample_2023_no_txt.xlsx")
df.head()

,code,Nom de l'entreprise,Siret,Sous secteur Secafi,Code NAF,Date de l'accord du texte,Année d'application NAO,Tranche Effectif (Base siren)
0,T04123002443,BORGWARNER FRANCE SAS,44015608100166,Fabrication d'autres équipements automobiles,2932Z,2023-01-17,2023,1 000 à 1 999 salariés
1,T09323011189,APTIV HOLDINGS FRANCE SAS,44025262500072,Fabrication d'équipements électriques et élect...,2931Z,2023-01-27,2023,100 à 199 salariés
2,T00123005502,NP BRION,38388720500037,Fabrication d'autres équipements automobiles,2932Z,2023-01-27,2023,50 à 99 salariés
3,T03523012879,COCKPIT AUTOMOTIVE SYSTEMS,81407181700013,Fabrication d'autres équipements automobiles,2932Z,2023-02-01,2023,100 à 199 salariés
4,T09023001693,TRECIA,41321416400068,Fabrication d'autres équipements automobiles,2932Z,2023-02-02,2023,200 à 249 salariés

We match it with our text data set

In [128]:
df_text = pd.read_excel(r"C:\Users\garsonj\Desktop\spacy_finetuning\spacy_files\data\training_xlsx\sample2023_txt.xlsx")
df_text

             code                                               text
0    T00123005502   accord conclu dans le cadre de la negociation...
1    T00123005519  proces verbal d’accord négociation annuelle ob...
2    T00123005542    accord annuel d’entreprise février 2023  ent...
3    T00123005685  accord suite aux negociations salariales de l’...
4    T00123006090   procès-verbal d’ouverture des négociations (l...
..            ...                                                ...
117  T59L23019588  accord annuel sur les rémunérations, le temps ...
118  T59L23019742  accord d’entreprise relatif à la nao 2023 au s...
119  T59L23020348  accord relatif a la négociation annuelle oblig...
120  T59V23002772     accord de negociation annuelle obligatoire ...
121  T59V23003085  accord portant révision des dispositions appli...

[122 rows x 2 columns]

In [129]:
df_merged = pd.merge(df, df_text, on="code", how='left')

#Cleaning the dataframe
df_merged.dropna(subset=['text'], inplace=True)
df_merged['text'] = df_merged['text'].str.replace(r'^\s+', '', regex=True)
df_merged['text'] = df_merged['text'].str.replace(r'\s+$', '', regex=True)

# Reduce the data set to two three columns
df_merged = df_merged[[
    "Nom de l'entreprise", 
    'code', 
    # 'Siret', 
    # 'Sous secteur Secafi',
    # 'Code NAF', 
    # "Date de l'accord du texte", 
    # "Année d'application NAO",
    # 'Tranche Effectif (Base siren)', 
    'text'
    ]].copy()

df_merged.head()

# Save the dataframe
df_merged.to_excel(r"C:\Users\garsonj\Desktop\spacy_finetuning\spacy_files\data\training_xlsx\sample2023_with_txt.xlsx", index=False)

## Text and ID Dataset

In [1]:
import glob
import pandas as pd
import os
from tqdm.notebook import tqdm

directory = glob.glob(r"C:\Users\garsonj\Desktop\spacy_finetuning\spacy_files\data\docx\2022_2023\2022_2023_all\Subset_1\text\*.txt")

def cleaning_function(df):
    df.dropna(subset=['text'], inplace=True)
    df['text'] = df['text'].str.replace(r'^\s+', '', regex=True)
    df['text'] = df['text'].str.replace(r'\s+$', '', regex=True)
    return df

# iniate an empty dataframe

final_df = pd.DataFrame()

for file in tqdm(directory):
    # collect the file name and store it in a list
    file_name = os.path.basename(file)[:-19]
    
    # collect the file content and store it in a list
    collected_text = []
    with open(file, 'r', encoding='utf-8') as f:
        text = f.read()
        collected_text.append(text)

    df = pd.DataFrame(collected_text , columns=['text'])
    df.insert(0, 'code', file_name)
    final_df = pd.concat([final_df, df], ignore_index=True)

final_df = cleaning_function(final_df)

  0%|          | 0/496 [00:00<?, ?it/s]

In [2]:
final_df["len"] = final_df["text"].agg(lambda x: len(x))
final_df.head()

           code                                               text    len
0  T00122004154  proces verbal d’accord negociation annuelle su...   6491
1  T00122004270  negociation annuelle 2022  protocole d’accord ...   5308
2  T00122004501  negociation annuelle obligatoire 2022 proces v...   9122
3  T00122005293  entre d'une part, la société france air, socié...   8443
4  T00123005650  accord relatif aux négociations annuelles obli...  20850

In [3]:
final_df.to_excel(r"C:\Users\garsonj\Desktop\spacy_finetuning\spacy_files\data\training_xlsx\sample_2022_2023_sub1.xlsx", index=False)